.body{
    width: 90%;
}
.currentweatherdetails{
    display: flex;
    flex-flow: column;
    padding: 8px;
    border-radius: 2px;
    margin: 8px 0px;
    color:  rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.05);
}
.lines{
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 1px;
}
.topic{
    font-size: 14px;
}
.text{
    text-align: center;
    font-size: 13px;
    padding: 10px 0px;
}
.twotext{
    text-align: center;
    font-size: 14px;
    padding: 10px 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}