.AppContainer {
    max-width: 768px;
    padding-top: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.Loading{
    max-width: 768px;
    padding: 100px 0px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #999;
    font: bolder;
    font-size: 30px;
}