.image{
    width: 100%;
    margin-top: 8px;
    background-image: url("../../assets/images/footer.png");
    background-repeat: no-repeat;
    background-size: 768px 250px;
    opacity: 0.8;
    z-index: 0;
    height: 250px;
    opacity: 0.4;
}
.a{
    text-decoration: none !important;
    color:  rgba(255, 255, 255, 1);
}

.footer{
    height: 250px;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    color:  rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.footercontent{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 4px 30px;
    margin: 8px 0px;
    font-size: 12px;
}
.update{
    display: flex;
    flex-flow: row;
    align-items: center;
}